Source: cinp-utils
Section: multiverse/python
Priority: optional
Maintainer: Peter Howe <pnhowe@gmail.com>
Build-Depends: debhelper (>= 9), python3 (>= 3.4), python3-dev (>= 3.4), python3-setuptools, lsb-release
Standards-Version: 3.8.3
X-Python3-Version: >= 3.4

Package: cinp-utils
Architecture: all
Depends: python3 (>= 3.4), python3-cinp (>= 0.24), ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: CInP Utils
  CInP Utils. includes cinp-autodoc
